.collection-item .image {
  height: 250px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.collection-item .footer {
  display: flex;
  justify-content: space-between;
  margin-block: 10px;
}

.collection-item .footer .name {
  flex: 1;
}

.collection-item .footer .price {
  width: auto;
}
