.cart-dropdown {
  position: absolute;
  top: 120px;
  left: 50%;
  z-index: 100;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  background: #fff;
  transform: translateX(89px);
}

.cart-dropdown::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 100%;
  border: 10px solid transparent;
  border-block-end-color: #000;
  transform: translateX(-50%);
}

.cart-dropdown-items {
  width: 250px;
  height: 350px;
  margin-block-end: 10px;
  overflow-y: scroll;
}
